/*Variables*/
$font-text: "Caveat", cursive;
$font-header: "PT Serif", serif;
$firm-name: #f9ca24;

/*Global*/
*, *::before, *::after {
	box-sizing: border-box;
}

body {
  font-family: $font-text;
  background: #dfe6e9;
}

.page-subtitle {
  font-size: 26px;
  font-family: $font-header;
  display: block;
  text-align: center;
  padding-top: 100px;
  margin: 0;
}

.subtitle-paragraph {
  color: #636e72;
  font-size: 18px;
  display: block;
  text-align: center;
}


/*Splash*/
.menu {
  list-style-type: none;
  justify-content: flex-end;
  position: absolute;
  top: 20px;
  right: 100px;
  margin: 0 auto;

}

.menu-item {
  padding: 20px;
  margin: 0 auto;
}

.firm-name {
  padding: 60px;
  height: 15px;
  width: 30px;
  line-height: 15px;
  border-radius: 50%;
  background: none;
  position: relative;

}
.menu-item > a {
  text-decoration: none;
  color: #fff;
}

.firm-name > a {
  text-decoration: none;
  color: $firm-name;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;

}

.splash {
  height: 100vh;
  position: relative;
  background-image: url(https://i.postimg.cc/vBqFg30D/pexels-hu-nh-t-2313027.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  display: block;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  line-height: 1.7;
  margin: 0 auto;

}

.title h1 {
  font-size: 64px;
  font-family: $font-header;
  padding-top: 0;
  margin: 0 auto;
}

.title p {
  font-size: 48px;
  display: block;
  padding-left: 140px;
  padding-bottom:0;
  margin: 0 auto;
}

.first-btn {
  background: $firm-name;
  color:#fff;
  height: 60px;
  width: 180px;
  font-size: 20px;
  border: none;
  font-weight: 600;
  position: absolute;
  right: 40%;
  margin: 0 auto;
}

/*Services*/


.col-4 i{  
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: $firm-name;
  border-radius: 50%;
  background: #fff; 
  border: 2px solid $firm-name;
  display: block;
  text-align: center;
  margin: 0 auto;

}
 
.my-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.services {
  background: #fff;
  background-size: cover;
  background-position: center center;
  height: 100%;
  margin: 0 auto;
}

.service {
  text-align: center;
  font-family: $font-header;
  display: block;
  margin: 0 auto;
}

.service-text {
  color: #636e72;
  text-align: center;
  padding-bottom: 100px;
}

/*Portfolio*/
.photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
} 

.box {
  display: block;
  background: #fff;
  margin: 0 auto;
  height: 100px;
  padding: 5px;
}

.box p {
  padding-bottom: 5px;
  margin-bottom: 5px;
}